/*******************************
            Variables
*******************************/
/*******************************
            Fonts
*******************************/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format("woff");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format("woff");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format("woff");
}

/*******************************
        Highlighted Colors
*******************************/
/* line 59, ../scss/style.scss */
::-webkit-selection {
  background-color: #ffffcc;
  color: #555555;
}

/* line 63, ../scss/style.scss */
::-moz-selection {
  background-color: #ffffcc;
  color: #555555;
}

/* line 67, ../scss/style.scss */
::selection {
  background-color: #ffffcc;
  color: #555555;
}

/* line 74, ../scss/style.scss */
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection {
  background-color: #f1c1c2;
  color: #222222;
}

/* line 80, ../scss/style.scss */
h1::selection,
h2::selection,
h3::selection {
  background-color: #f1c1c2;
  color: #222222;
}

/* line 84, ../scss/style.scss */
.ui *::-moz-selection {
  background-color: #cce2ff;
}

/* line 87, ../scss/style.scss */
.ui *::selection {
  background-color: #cce2ff;
}

/*******************************
             Global
*******************************/
/* line 96, ../scss/style.scss */
html,
body {
  font-size: 15px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}

/* line 109, ../scss/style.scss */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/*
p,
ul,
.ui.grid,
li {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size-adjust: none;
}*/
/* line 123, ../scss/style.scss */
ul.list {
  list-style-type: disc;
}

/* line 126, ../scss/style.scss */
ul.list li {
  list-style-position: outside;
}

/* text and headers */
/* line 132, ../scss/style.scss */
h1 {
  margin: 0px 0px 20px;
  padding: 50px 0px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 137, ../scss/style.scss */
h4 + p {
  margin: 0px 0px 20px;
}

/* line 140, ../scss/style.scss */
pre {
  background-color: #F0F0F0;
}

/* line 143, ../scss/style.scss */
pre.console {
  background-color: transparent;
  line-height: 1.6;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  height: 300px;
  overflow: auto;
}

/* line 150, ../scss/style.scss */
code {
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-family: Courier New;
  font-size: 14px;
  margin: 0.25em;
  padding: 0.125em 0.5em;
  vertical-align: middle;
}

/* line 160, ../scss/style.scss */
pre code {
  border: none;
  padding: 0px;
}

/* line 165, ../scss/style.scss */
table pre,
table code {
  margin: 0px !important;
  padding: 0px;
  background-color: transparent;
}

/* line 170, ../scss/style.scss */
p {
  margin: 1em 0em;
}

/* line 173, ../scss/style.scss */
p:first-child {
  margin-top: 0em;
}

/* line 176, ../scss/style.scss */
p:last-child {
  margin-bottom: 0em;
}

/* links */
/* line 180, ../scss/style.scss */
a {
  color: #009fda;
  text-decoration: none;
}

/* line 184, ../scss/style.scss */
a:hover {
  color: #00baff;
}

/*******************************
             Layout
*******************************/
/* line 192, ../scss/style.scss */
#piss-app {
  width: 640px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
