/*******************************
            Variables
*******************************/
/*******************************
        Highlighted Colors
*******************************/
/* line 19, ../scss/style.scss */
::-webkit-selection {
  background-color: #ffffcc;
  color: #555555;
}

/* line 23, ../scss/style.scss */
::-moz-selection {
  background-color: #ffffcc;
  color: #555555;
}

/* line 27, ../scss/style.scss */
::selection {
  background-color: #ffffcc;
  color: #555555;
}

/* line 34, ../scss/style.scss */
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection {
  background-color: #f1c1c2;
  color: #222222;
}

/* line 40, ../scss/style.scss */
h1::selection,
h2::selection,
h3::selection {
  background-color: #f1c1c2;
  color: #222222;
}

/* line 44, ../scss/style.scss */
.ui *::-moz-selection {
  background-color: #cce2ff;
}

/* line 47, ../scss/style.scss */
.ui *::selection {
  background-color: #cce2ff;
}

/*******************************
             Global
*******************************/
/* line 56, ../scss/style.scss */
html,
body {
  font-size: 15px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}

/* line 69, ../scss/style.scss */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/*
p,
ul,
.ui.grid,
li {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size-adjust: none;
}*/
/* line 83, ../scss/style.scss */
ul.list {
  list-style-type: disc;
}

/* line 86, ../scss/style.scss */
ul.list li {
  list-style-position: outside;
}

/* text and headers */
/* line 92, ../scss/style.scss */
h1 {
  margin: 0px 0px 20px;
  padding: 50px 0px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 97, ../scss/style.scss */
h4 + p {
  margin: 0px 0px 20px;
}

/* line 100, ../scss/style.scss */
pre {
  background-color: #F0F0F0;
}

/* line 103, ../scss/style.scss */
pre.console {
  background-color: transparent;
  line-height: 1.6;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  height: 300px;
  overflow: auto;
}

/* line 110, ../scss/style.scss */
code {
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-family: Courier New;
  font-size: 14px;
  margin: 0.25em;
  padding: 0.125em 0.5em;
  vertical-align: middle;
}

/* line 120, ../scss/style.scss */
pre code {
  border: none;
  padding: 0px;
}

/* line 125, ../scss/style.scss */
table pre,
table code {
  margin: 0px !important;
  padding: 0px;
  background-color: transparent;
}

/* line 130, ../scss/style.scss */
p {
  margin: 1em 0em;
}

/* line 133, ../scss/style.scss */
p:first-child {
  margin-top: 0em;
}

/* line 136, ../scss/style.scss */
p:last-child {
  margin-bottom: 0em;
}

/* links */
/* line 140, ../scss/style.scss */
a {
  color: #009fda;
  text-decoration: none;
}

/* line 144, ../scss/style.scss */
a:hover {
  color: #00baff;
}

/*******************************
             Layout
*******************************/
/* line 152, ../scss/style.scss */
#piss-app {
  width: 640px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
