    {% extends "layout.html" %}
	{% import 'macros.html' as macros %}
	{% if title %}
		{% set page_title = title %}
	{% elif '_id' in item %}
		{% set page_title = 'Post: ' + item['_id'] %}
	{% elif 'version' in request.args %}
		{% set page_title = 'Post: ' + request.path|basename + ' (versions)' %}
	{% else %}
		{% set page_title = request.path|basename|capitalize %}
	{% endif %}
    {% block title %}{{ page_title }}{% endblock %}
    {% block body %}
		<h1>{{ page_title }}</h1>
		{% if 'content' in item %}
        content:
		{{ macros.create_table_from_object(item['content']) }}
		{% endif %}
		{% if 'attachments' in item %}
		attachments:
		{% for attachment in item['attachments'] %}
		<div>
			{{ macros.render_attachment(item['_id'], attachment) }}
		</div>
		{% endfor %}
		<br />
		{% endif %}
		{{ macros.create_table_from_object(item) }}
    {% endblock %}