    {% extends "layout.html" %}
	{% import 'macros.html' as macros %}
    {% block title %}Posts{% endblock %}
    {% block body %}
    	<h1>Posts</h1>
		{% if items|length %}
		<dl>
		{% for item in items %}
			<dt><a href="{{ config['META_POST']['server']['urls']['posts_feed'] }}/{{ item['_id'] }}">{{ item['_id'] }}</a></dt>
			{% if 'content' in item %}
			<dd>
				{% for key in ['title', 'name', 'description', 'text'] if key in item['content'] %}
				<span>{{ item['content'][key] }}</span>
				{% else %}
					{{ macros.create_nested_spans_from_object(item['content']) }}
				{% endfor %}
			</dd>
			{% endif %}
		{% endfor %}
		</dl>
		{% else %}
		<p>No items to display!</p>
		{% endif %}
    {% endblock %}