{% macro get_item_title(obj) -%}
    {% if '_id' in obj %}
    {{ obj['_id'] }}
    {% else %}
    {{ request.path|basename|capitalize }}
    {% endif %}
{%- endmacro %}

{% macro get_item_body(obj) -%}
    <h3>{{ get_item_title(obj) }}</h3>
    {{ macros.create_table_from_object(obj) }}
{%- endmacro %}

{% macro get_feed_item_title(obj) -%}
    {{ get_item_title(obj) }}
{%- endmacro %}

{% macro get_feed_item_body(obj) -%}
    <ul class="unstyled note">
        {% if '_updated' in obj %}
        <li>Last Updated: {{ obj['_updated'] }}</li>
        {% endif %}
        {% if 'type' in obj %}
        <li>Type: {{ obj['type'] }}</li>
        {% endif %}
    </ul>
{%- endmacro %}