{% macro get_item_title(obj) -%}
    {{ obj['_id'] }}
{%- endmacro %}

{% macro get_item_body(obj) -%}
    <h3>{{ get_item_title(obj) }}</h3>
    {% if 'text' in obj['content'] %}
    <article>
        {{ macros.markdown_as_html(obj['content']['text']) }}
    </article>
    {% endif %}
    {% if 'attachments' in obj %}
    {% for attachment in obj['attachments'] %}
    <div>
        {{ macros.render_attachment(obj['_id'], attachment) }}
    </div>
    {% endfor %}
    <br />
    {% endif %}
    {{ macros.create_table_from_object(obj) }}
{%- endmacro %}

{% macro get_feed_item_title(obj) -%}
    {{ obj['_id'] }}
{%- endmacro %}

{% macro get_feed_item_body(obj) -%}
    <article>
        {{ macros.markdown_as_html(obj['content']['text']) }}
    </article>
{%- endmacro %}