    {% extends "layout.html" %}
    {% block title %}Home{% endblock %}
    {% block body %}
		<h1>{{ config['META_POST']['profile']['name'] }}</h1>
		<p>There's not much here yet.</p>
	    {% if 'cards' in config['META_POST']['profile'] %}
        <ul>
            {% for card in config['META_POST']['profile']['cards'] %}
			{% if card['type'] == 'rel-me' %}
            <li><a href="{{ card['datum'] }}" rel="me">{{ card['name'] }}</a></li>
			{% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    {% endblock %}