    {% extends "layout.html" %}
    {% block title %}Posts{% endblock %}
    {% block body %}
    	<h1>Posts</h1>
		<dl>
		{% for item in items %}
			<dt><a href="{{ config['META_POST']['server']['urls']['posts_feed'] }}/{{ item['_id'] }}">{{ item['_id'] }}</a></dt>
			{% if 'content' in item %}
			<dd>
				{% for key in ['title', 'name', 'description', 'text'] if key in item['content'] %}
				<span>{{ item['content'][key] }}</span>
				{% else %}
					{% for key, value in item['content'].iteritems()|sort recursive %}
						{% if value is mapping %}
						<span>{{ key }}:</span>
						 { {{ loop(value.iteritems()) }} }
						{% else %}
						<span>{{ key }}:</span>
						<span>{{ value }}</span>
						{% endif %}
						{% if not loop.last %},{% endif %}
					{% endfor %}
				{% endfor %}
			</dd>
			{% endif %}
		{% endfor %}
		</dl>
    {% endblock %}