    {% extends "layout.html" %}
    {% block title %}Posts{% endblock %}
    {% block body %}
    	<h1>Posts</h1>
		<dl>
		{% for post in posts['_items'] %}
			<dt><a href="{{ config['META_POST']['server']['urls']['posts_feed'] }}/{{ post['_id'] }}">{{ post['_id'] }}</a></dt>
			{% if 'content' in post %}
			<dd>
			{% for key, value in post['content'].iteritems()|sort recursive %}
				{% if value is mapping %}
				<span>{{ key }}:</span>
				 { {{ loop(value.iteritems()) }} }
				{% else %}
				<span>{{ key }}:</span>
				<span>{{ value }}</span>
				{% endif %}
				{% if not loop.last %},{% endif %}
			{% endfor %}
			</dd>
			{% endif %}
		{% endfor %}
		</dl>
    {% endblock %}