    {% extends "layout.html" %}
    {% block title %}Home{% endblock %}
	{% block header %}
		<link href="{{ url_for('server_info.meta') }}" rel="server-meta"/>
	{% endblock %}
    {% block body %}
        <div class="ink-grid page-layout">
            <div class="column-group horizontal-gutters">
                <div class="all-50">
                    <h3>{{ config['HOME_TITLE'] }}</h3>
                    <p class="large">{{ config['HOME_TEXT'] }}</p>
                </div>
                <div class="all-50">
                    <figure>
                        <img src="{{ config['HOME_PHOTO'] }}" alt="Portrait photo">
                    </figure>
                </div>
            </div>
        </div>
    {% endblock %}