    {% extends "layout.html" %}
	{% import 'macros.html' as macros %}
	{% set page_title = request.path|basename|capitalize %}
    {% if not feed_url %}
        {% set feed_url = config['META_POST']['server']['urls']['posts_feed'] %}
    {% endif %}
    {% block title %}{{ page_title }}{% endblock %}
    {% block body %}
    	<h3>{{ page_title }}</h3>
		{% if obj|length %}
		<dl>
		{% for item in obj %}
			<dt><a href="{{ feed_url }}/{{ item['_id'] }}">{{ get_feed_item_title(item) }}</a></dt>
			<dd>
                {{ get_feed_item_body(item, macros) }}
			</dd>
		{% endfor %}
		</dl>
		{% else %}
		<p>No items to display!</p>
		{% endif %}
    {% endblock %}