<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - {{ config['META_POST']['profile']['name'] }}</title>
    <meta name="description" content="{% block description %}A Personal Information Storage and Syndication website{% endblock %}">
    <meta name="author" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon(s) here  -->
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='img/touch-icon-iphone.png')}}">

    <!-- load inks CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ink-flex.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">

    <!-- load inks CSS for IE8 -->
    <!--[if lt IE 9 ]>
        <link rel="stylesheet" href="css/ink-ie.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <![endif]-->

    <!-- test browser flexbox support and load legacy grid if unsupported -->
    <script type="text/javascript" src="{{url_for('static', filename='js/modernizr.js')}}"></script>
    <script type="text/javascript">
        Modernizr.load({
          test: Modernizr.flexbox,
          nope : "{{url_for('static', filename='css/ink-legacy.min.css')}}"
        });
    </script>
	{% block header %}{% endblock %}
</head>

<body>

    <!--[if lte IE 9 ]>
    <div class="ink-alert basic" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p>
            <strong>You are using an outdated Internet Explorer version.</strong>
            Please <a href="http://browsehappy.com/">upgrade to a modern browser</a> to improve your web experience.
        </p>
    </div>
    <![endif]-->

    <!-- Add your site or application content here -->

    <div class="wrap">
        <header id="top-menu">
            <nav class="ink-navigation ink-grid">
                <div class="column-group">
                    <div class="all-33 small-100">
                        <ul class="menu horizontal black">
                            <li class="active"><a href="{{url_for('home')}}">{{ config['META_POST']['profile']['name'] }}</a></li>
                        </ul>
                    </div>
                    <div class="all-66 small-100">
                        {% if config['MENU_ITEMS'] %}
                        {% set posts_url = config['META_POST']['server']['urls']['posts_feed'] + '/' %}
                        <ul class="menu horizontal black medium-push-right large-push-right xlarge-push-right">
                            {% for menu_item in config['MENU_ITEMS'] %}
                            {% set where_clause = '%22type%22:%22' + menu_item.type + '%22' %}
                            <li><a href="{{ config['META_POST']['entity'] }}/posts?where={{ '{' }}{{ where_clause }}{{ '}' }}">{{ menu_item.resource_title|capitalize }}</a></li>
                            {% endfor %}
                            <li><a href="{{ posts_url }}">Everything</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
		<div id="main-content" class="ink-grid vertical-space">
			{% block body %}{% endblock %}
		</div>
		<div class="push"></div>
	</div>
    <footer id="bottom-menu" class="clearfix">
		<div id="footer-nav" class="ink-grid">
        {% if links %}
		    <ul class="unstyled inline quarter-vertical-space">
				{% for key in links %}
				<li><a href="/{{ links[key]['href']|strip_slashes }}" title="{{ links[key]['title']|capitalize }}">{{ key|capitalize }}</a></li>
				{% endfor %}
		    </ul>
		{% endif %}
		</div>
        <div id="footer-info" class="ink-grid">
            <div class='footer-wrap'>
                {% if 'cards' in config['META_POST']['profile'] %}
                <ul class="unstyled inline quarter-vertical-space">
                    {% for card in config['META_POST']['profile']['cards'] %}
                    {% if card['type'] == 'rel-me' %}
                    <li><a href="{{ card['datum'] }}" rel="me">{{ card['name'] }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
                <p class="note">{{ config['FOOTER_TEXT']|safe }}</p>
            </div>
        </div>
    </footer>
	{% block footer %}{% endblock %}
</body>
</html>
